@use "../../../theme";

.Track {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 30px auto 0px auto;
  cursor: pointer;
  background-color: #3386e6;
  border-radius: 10px;
  transition: background-color ease-in 300ms;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &_selected {
    background-color: theme.$primary-color;
  }

  &__Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30px;
    min-width: 30px;
    padding: 4px;
    color: white;
  }

  &__Title {
    font-weight: 400;
    font-size: 1.1em;
    font-style: italic;
    color: white;
    text-align: right;
    margin-left: 10px;
  }
}
