@use "../../../theme";

.MediaPlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  max-width: 100vw;
  min-width: 300px;

  @media screen and (max-width: 640px) {
    width: 90vw;
    height: auto;
  }

  @media screen and (min-width: 641px) {
    width: 600px;
    height: auto;
  }

  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: theme.$background-dark-color;

  h2 {
    font-size: 1.3em;
    font-weight: 400;
    color: white;
    text-align: left;
  }

  &__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }

  &__Sync {
    display: flex;
    justify-content: center;
    align-items: center;

    &__State {
      margin-right: 5px;
      font-style: italic;
      font-weight: 300;
      color: white;
    }

    &__Button {
      width: 30px;
      height: 30px;
      color: white;
      background-color: transparent;
      outline: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }
  }

  &__Content {
    width: inherit;
    height: inherit;
  }

  &__Track {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    height: 50px;
    margin: 5px;

    color: #dfdfdf;
    font-size: 1em;
    font-weight: 400;

    &__Timer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 100%;
    }

    &__Title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 5;
      height: 100%;
      font-style: italic;
      font-weight: 500;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    &__Duration {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 100%;
    }
  }
}
