// Colors
$primary-color: #ee4437;
$secondary-color: #252e55;
$background-light-color: #f4e0c7;
$background-dark-color: #0c1e4c;
$text-light-color: #f4e0c7;
$text-dark-color: #252e55;

// Numbers
$top-bar-height: 10vh;
$footer-height: 10vh;
