@use './theme';

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;
  height: auto;
  margin-bottom: calc(-#{theme.$footer-height});

  text-align: center;
  overflow-x: hidden;
}
