@use '../../../theme';

.Content {
  width: 100%;
  min-height: calc(100vh - #{theme.$top-bar-height});
  box-sizing: border-box;
  padding-top: 40px;
  margin-bottom: calc(-#{theme.$footer-height});
}
