* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cambria', 'Avenir', 'Cochin', 'Georgia', 'Times',
    'Times New Roman', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  user-select: none;
  -webkit-tap-highlight-color: none;
  cursor: pointer;
}
